<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buildit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildIt">
        <activity
            android:name=".Activities.SiteActivities.AddSiteActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.PlasterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.TilesActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.ElectricianActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.PlumberActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.GypsumActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.BrickworkActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.PainterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.CarpenterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.FitterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.Labouractivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagerDashboard.Summary"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagerDashboard.LabourProgress"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagerDashboard.MaterialPurchase"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagerDashboard.MaterialConsumption"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagerDashboard.DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SiteActivities.SiteActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagerDashboard.ManagerDashboard"
            android:exported="true" />
        <activity
            android:name="com.example.buildit.Activities.DetailsActivity.InformationActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>