<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buildit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildIt">
        <activity
            android:name=".Activities.AddSiteActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.PlasterActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.TilesActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ElectricianActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.PlumberActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.GypsumActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.BrickworkActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.PainterActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CarpenterActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.FitterActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Labouractivity"
            android:exported="true" />
        <activity
            android:name=".DataClass.Summary"
            android:exported="true" />
        <activity
            android:name=".DataClass.LabourProgress"
            android:exported="true" />
        <activity
            android:name=".DataClass.MaterialPurchase"
            android:exported="true" />
        <activity
            android:name=".DataClass.MaterialConsumption"
            android:exported="true" />
        <activity
            android:name=".Activities.DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SiteActivity"
            android:exported="true" />
        <activity
            android:name=".DataClass.ManagerDashboard"
            android:exported="true" />
        <activity
            android:name=".Activities.InformationActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>